{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Baboucarr Sanneh</title>
<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-3" >
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/bsanneh.jpg' %}">
                <hr>
                <h4>Hi, I am Baboucarr Sanneh</h4>
                <p>I am a senior majoring in Computer Science.</p>
                </div>
            </div>

            <div class="col-md-9 ">
                <div class="card card-body h-100 border-info">
                    <h4>About me</h4>
                    <hr>
					
					<ul class="social-links">
						 <!--<li><img class="social" src="{% static 'images/facebook.png' %}"></li>-->
						<li><a href="https://www.linkedin.com/in/bsanneh/" target=_blank><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                        <li><a href="https://github.com/basanneh" target=_blank><img class="social" src="{% static 'images/github.png' %}"></a></li>
						
					</ul>
                </div>
            </div>
        </div>
<br>
       <div class="row">
			<div class="col-md-12">
				<div class="card card-body h-100">
					<h4>Skills</h4>
					<hr>
                    <p>
                    <strong>Languages:</strong> HTML, CSS, TCL, PYTHON, JAVA, C++, SQL, BASH
                    </p>
                    <p><strong>Sofware/Tools:</strong> GIT, GITHUB, DOCKER, VIM, MAAS, DJANGO, POSTGRESQL, MYSQL
                    </p>
                    <p><strong>Platforms:</strong> WINDOWS, LINUX(UBUNTU)
                    </p>
					
					</div>
			</div>

			<div class="col-md-12">
				<div class="card card-body h-100">
					<h4>Work Experience</h4>
					<hr>
					
				</div>
			</div>
		</div>
		<br>
		<div class="row">


			<div class="col-md-12">
				<div class="card card-body h-100">
					<h4>Projects</h4>
				<hr>
				<p>Coming soon, in the mean time, you can view my <a href="https://github.com/basanneh" target=_blank>Github</a> account </p>
				

				</div>
			</div>

			<div class="col-md-12">
				<div class="card card-body h-100">
					<h4>Activities</h4>
					<hr>
					
				</div>
			</div>

		</div>
		<br>
	</div>

      

</body>
</html>