{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Baboucarr Sanneh</title>
<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-3" >
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/bsanneh.jpg' %}">
                <hr>
                <h4>Hi, I am Baboucarr Sanneh</h4>
                <p>I am a senior majoring in Computer Science.</p>
                </div>
            </div>

            <div class="col-md-9 ">
                <div class="card card-body h-100 border-info">
                    <h4>My First Job as a Developer</h4>
					
					<ul class="social-links">
						 <!--<li><img class="social" src="{% static 'images/facebook.png' %}"></li>-->
						<li><a href="https://www.linkedin.com/in/bsanneh/" target=_blank><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                        <li><a href="https://github.com/basanneh" target=_blank><img class="social" src="{% static 'images/github.png' %}"></a></li>
						
					</ul>
                </div>
            </div>
        </div>
<br>
       <div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Skills</h5>
					<hr>
					
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Work Experience</h5>
					<hr>
					
				</div>
			</div>
		</div>
		<br>
		<div class="row">


			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Projects</h5>
				<hr>
				<p>Coming soon, in the mean time, you can view my <a href="https://github.com/basanneh" target=_blank>Github</a> account </p>
				

				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Activities</h5>
					<hr>
					
				</div>
			</div>

		</div>
		<br>
	</div>

      

</body>
</html>